body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Abel', sans-serif; 
    background-color: rgb(245, 247, 226);
    background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
}

h1 {
    font-size: 75px; 
    padding-top: 8%;
}
.main-visual {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url("./media/restaurant-hero.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .75; 
    height: 60vh;
    width: 100vw;
    color: white;
}

.submit-button {
    margin: 2em;
    border-radius: 10px;
    border: none;
    width: 25vw;
    height: 6vh;
    font-size: 1.5em;
    background-color: #193A5B;
    color: white;
}

a:visited {
    color: white;
}

.content {
    display: flex;
    flex-direction: row;
    padding-left: 2em;
    padding-right: 2em;
    /* width: 100vw; */
}

.info {
    padding: 2em;
}

footer {
    margin: 2em;
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    margin-left: 3px;
    margin-right: 3px;
}

